body{
    background-color: #000 !important;
}
h1, h2, h3, h4, h5, h6, p, dt, dd, input, a, label{
    margin: 0;
    color: #fff;
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: auto;
}
.as-title{
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.order-summary-title-border{
    border-bottom: 1px solid #ffffff6e;
}
.as-cart-item-main{
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    gap: 60px;
}
.as-cart-line-title {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr 1fr .3fr;
    gap: 40px;
    border-bottom: 1px solid #ffffff6e;
    margin: 30px 0 60px;
    padding: 0 0 15px;
}
.as-cart-line-item-box{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr 1fr .3fr;
    gap: 40px;
    align-items: center;
    padding: 0 0 25px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #ffffff6e;
}
.as-cart-image-title{
    display: grid;
    grid-template-columns: .6fr 1.4fr;
    gap: 20px;
    align-items: center;
}
.as-delete-icon{
    width: 24px;
    height: 24px;
}
.as-cart-variant{
    display: flex;
    gap: 5px;
}
.as-cart-product-delete-btn{
    background-color: #0000;
    border: none;
    cursor: pointer;
}
.as-checkout-detail-box{
    position: sticky;
    top: 0;
    background-color: #000;
    padding: 20px 20px 0;
}
.order-summary-detail-box{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    margin: 0;
    padding: 0;
}
.order-summary-detail-box li{
    display: flex;
    justify-content: space-between;
}
.coupon-code-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr .5fr;
    overflow: hidden;
}
.coupon-code-input{
    border: 1px solid #ffffff6e;
    color: #fff;
    background-color: #0000;
    padding: 15px;
    font-size: 16px;
}
.coupon-code-btn {
    height: 100%;
    background-color: #ffffff;
    color: #000;
    border: 0;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}
button:focus, input:focus, textarea:focus{
    outline: none !important;
}
::placeholder{
    color: #fff;
}
.border-top-white{
    margin-top: 20px;
    border-top: 1px solid #ffffffab;
    padding: 25px 0 5px;
}
.as-cart-btn-box{
    width: 100%;
}
.as-cart-btn{
    width: 100%;
    display: block;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 2s;
}
.cart-checkout {
    color: #000;
    background-color: #fff;   
}
.cart-checkout:hover{
    color: #fff;
    background-color: #fff0;
}
.cart-continue-shopping{
    color: #fff;
    background-color: #0000;
}
.cart-continue-shopping:hover{
    color: #000;
    background-color: #fff;
}
.btn1{
    background-color: #fff0;
    border: none;
    cursor: pointer;
}
.as-qty-box {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 2px solid #ffffff6e;
    border-radius: 50px;
    width: fit-content;
}
.as-quantity-input{
    width: 50px;
    padding: 0 10px;
    text-align: center;
    color: #fff;
}
.as-quantity-input::-webkit-outer-spin-button,
.as-quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.as-text-link:hover{
    text-decoration: underline;
}
.as_cart_termsCondition{
    position: relative;
    border: 2px solid #fff;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0 20px 0 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px !important;
    opacity: .5;
}
.as_cart_termsCondition::before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}
.as_cart_termsCondition:checked {
    background-color: #fff;
    opacity: 1;
}
.as_cart_termsCondition:checked::before {
    background-color: #ffffff;
    border: solid #000;
    border-width: 0 2px 2px 0;
}
.cartDisabled{
    opacity: .5;
}
.empty-cart-box{
    text-align: center;
}
.continue-shopping-btn{
    width: fit-content;
    padding: 15px 30px;
}
.as-cart-empty-msg{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;
}
.as-cart-empty-msg p{
    font-size: 24px;
}
.continue-shopping-btn {
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    padding: 10px 40px;
    display: block;
    margin: auto;
    color: #fff;
    border: 1px solid #fff;
    background-color: #000;
    transition: all 2s;
}
.continue-shopping-btn:hover{
    color: #000;
    background-color: #fff;
}
.cart-note textarea{
    color: #fff;
    border: 2px solid #ffffff6e;
    background-color: #000;
    width: 45%;
    padding: 20px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px;
}
.cart-note{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.as-section-heading{
    font-size: 28px;
    font-weight: 600;
    line-height: 2;
    margin-bottom: 30px;
    text-transform: capitalize;
    text-align-last: left;
}
.as-product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.text-center {
    text-align: center;
}
.as-product-image{
    width: 100%;
}
.as-product-title{
    font-size: 18px;
    line-height: 2;
    font-weight: 600;
    margin-bottom: 10px;
}
.as-product-price{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1370px){

}

@media screen and (max-width: 1280px){
    .truncate-single {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    .as-product-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }
    .as-product-title {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 580px){

}

@media screen and (max-width: 380px){
    
}

@media screen and (max-width: 320px){

}